*{
  margin: 0;
  padding: 0;
}
.homepage-background{
  width: 100%;
  height: 100vh;
  background-color: #292929;
  display: table;
}
.sidebar{
  display: table-cell;
  width: 15%;
  vertical-align: top;
}
.main-content{
  display: table-cell;
  width: 85%;
  vertical-align: top;
}
